.container {
  font-family: 'Manrope';
  width: 100%;
  height: 100vh;
  display: flex;

  @media(max-width: 768px){
    flex-direction: column;
  }

  &__image {
    background: rgb(241,251,255);
    flex:0.3;

    &__img {
      width: 150%;
      height: 100%;
      image-rendering: high-quality;
      object-fit: cover;

    }
    @media(max-width: 768px){
      display: none;
    }
  }

  &__main {
    flex: 2;
    background: rgb(241,251,255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;

    @media(max-width: 768px){
      flex-direction: column;
    }

    &__weather {
      min-width: 900px;
      max-width: 1100px;
      height: 90vh;
      background-color: white;
      margin-left: 25px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @media(max-width: 768px){
        min-width: 270px;
        max-width: 300px;
        margin: 0px;
      }
      &__search{
        padding: 10px;
        border-radius: 10px;
        border: whitesmoke 1px solid;
        background: rgb(241,251,255);
        width: 90%;
        font-size: 14px;
        @media(max-width: 768px){
          font-size: 24px;
          padding: 10px;
        }
      }

      &__weather-overview{
        padding: 15px;
        border-radius: 15px;
        height: 90%;
        width: 90%;
        &__charts{
          display: flex;
          align-items: start;
          flex-direction: row;
          gap:15px;
          margin-top: 0px;

          &__chart{
            margin-right: -50px;
          }
          &__current-weather{
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            &__digit-celcies{
              font-size: 62px;
            }
          }
        }

        &__next-weather{
          display: flex;
          flex-direction: row;
          gap: 50px;
          &__weather{
            background: rgb(241,251,255);
            border-radius: 15px;
            padding: 10px;
            &__other{
              display: flex;
              flex-direction: row;
              gap: 15px;
            }
          }
        }
      }

    }

    &__news {
      overflow-y: auto;
      margin-right: 1vw;
      min-width: 320px;
      max-width: 400px;
      height: 90vh;
      background-color: white;
      border-radius: 10px;

      @media(max-width: 768px){
        min-width: 270px;
        max-width: 300px;
        margin: 0px;
        overflow-y: hidden;
        height: 100%;
      }

      &__title{
        margin-top: 15px;
        margin-left: 15px;
        font-size: 24px;

        @media(max-width: 768px){
          font-size: 30px;
        }
      }
      &__news-block{
        background: rgb(241,251,255);
        border-radius: 15px;
        padding: 10px;
        margin-top: 10px;
        margin-left: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        @media(max-width: 768px){
          padding: 10px;
          flex-direction: column-reverse;
        }

        &__image{
          width: 120px;
          height: 120px;
          border-radius: 15px;
          @media(max-width: 768px){
            width: 220px;
            height: 200px;
            border-radius: 15px;
          }
        }

        &__description{
          font-size: 14px;
          @media(max-width: 768px){
            font-size: 20px;
          }
          &__block{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:5px;
            margin-left: 10px;
            margin-top: 10px;
            &__img{
              width: 15px;
              height: 15px;
              @media(max-width: 768px){
                width: 30px;
                height: 30px;
              }
            }
          }
        }

      }
    }
  }
}
