<div class="container">

  <div class="container__image">
    <img class="container__image__img" src="../assets/storm-4k.jpg" alt="...">
  </div>

  <div class="container__main">
    <div class="container__main__weather">
      <input class="container__main__weather__search" placeholder="Kyiv,Ukraine" type="text">
      <div class="container__main__weather__weather-overview">
        <div class="container__main__weather__weather-overview__charts">
          <div class="container__main__weather__weather-overview__charts__current-weather">
            <h2 container__main__weather__weather-overview__charts__current-weather__place>New York, US</h2>
            <h1 class="container__main__weather__weather-overview__charts__current-weather__digit-celcies">84 °</h1>
            <h2 class="container__main__weather__weather-overview__charts__current-weather__digit-feels">Feels 24 °</h2>
            <h1 container__main__weather__weather-overview__charts__current-weather__weather-type>Party cloudy</h1>
          </div>
          <div class="container__main__weather__weather-overview__charts__chart">
            <app-chart></app-chart>
          </div>
        </div>
        <div class="container__main__weather__weather-overview__next-weather">
          <div class="container__main__weather__weather-overview__next-weather__weather">
            <h3>Mon 12</h3>
            <img style="width: 150px; height: 150px; margin-left: 25px;" src="../assets/free-icon-cloudy-1163661.png"/>
            <div class="container__main__weather__weather-overview__next-weather__weather__other" >
              <div>
                <h2>84 °</h2>
                <h2>Cloudy</h2>
              </div>
              <div>
                <h4>Feels 90°F / 31°F</h4>
                <h4>Humidity: 0.74%</h4>
                <h4>Wind 15.5 M/s</h4>
              </div>
            </div>
          </div>
          <div class="container__main__weather__weather-overview__next-weather__weather">
            <h3>Mon 12</h3>
            <img style="width: 150px; height: 150px; margin-left: 25px;" src="../assets/free-icon-cloudy-1163661.png"/>
            <div class="container__main__weather__weather-overview__next-weather__weather__other" >
              <div>
                <h2>84 °</h2>
                <h2>Cloudy</h2>
              </div>
              <div>
                <h4>Feels 90°F / 31°F</h4>
                <h4>Humidity: 0.74%</h4>
                <h4>Wind 15.5 M/s</h4>
              </div>
            </div>
          </div>
          <div class="container__main__weather__weather-overview__next-weather__weather">
            <h3>Mon 12</h3>
            <img style="width: 150px; height: 150px; margin-left: 25px;" src="../assets/free-icon-cloudy-1163661.png"/>
            <div class="container__main__weather__weather-overview__next-weather__weather__other" >
              <div>
                <h2>84 °</h2>
                <h2>Cloudy</h2>
              </div>
              <div>
                <h4>Feels 90°F / 31°F</h4>
                <h4>Humidity: 0.74%</h4>
                <h4>Wind 15.5 M/s</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container__main__news">
      <h1 class="container__main__news__title">Weather news</h1>
      <div class="container__main__news__news-block">
        <div class="container__main__news__news-block__description">
          <h4 class="container__main__news__news-block__description__text">Lorem ipsum dolor sit amet Ad assumenda, beatae cvenptatem voluptatum?</h4>
          <div class="container__main__news__news-block__description__block">
            <h4 class="container__main__news__news-block__description__block__text">Kyiv Ukraine</h4>
            <img class="container__main__news__news-block__description__block__img"  src="../assets/radar.png" alt="...">
          </div>
        </div>
        <img class="container__main__news__news-block__image" src="../assets/storm.jpg" alt="...">
      </div>

      <div class="container__main__news__news-block">
        <div class="container__main__news__news-block__description">
          <h4 class="container__main__news__news-block__description__text">Lorem ipsum dolor sit amet Ad assumenda, beatae cvenptatem voluptatum?</h4>
          <div class="container__main__news__news-block__description__block">
            <h4 class="container__main__news__news-block__description__block__text">Kyiv Ukraine</h4>
            <img class="container__main__news__news-block__description__block__img"  src="../assets/radar.png" alt="...">
          </div>
        </div>
        <img class="container__main__news__news-block__image" src="../assets/storm.jpg" alt="...">
      </div>

      <div class="container__main__news__news-block">
        <div class="container__main__news__news-block__description">
          <h4 class="container__main__news__news-block__description__text">Lorem ipsum dolor sit amet Ad assumenda, beatae cvenptatem voluptatum?</h4>
          <div class="container__main__news__news-block__description__block">
            <h4 class="container__main__news__news-block__description__block__text">Kyiv Ukraine</h4>
            <img class="container__main__news__news-block__description__block__img"  src="../assets/radar.png" alt="...">
          </div>
        </div>
        <img class="container__main__news__news-block__image" src="../assets/storm.jpg" alt="...">
      </div>

      <div class="container__main__news__news-block">
        <div class="container__main__news__news-block__description">
          <h4 class="container__main__news__news-block__description__text">Lorem ipsum dolor sit amet Ad assumenda, beatae cvenptatem voluptatum?</h4>
          <div class="container__main__news__news-block__description__block">
            <h4 class="container__main__news__news-block__description__block__text">Kyiv Ukraine</h4>
            <img class="container__main__news__news-block__description__block__img"  src="../assets/radar.png" alt="...">
          </div>
        </div>
        <img class="container__main__news__news-block__image" src="../assets/storm.jpg" alt="...">
      </div>

      <div class="container__main__news__news-block">
        <div class="container__main__news__news-block__description">
          <h4 class="container__main__news__news-block__description__text">Lorem ipsum dolor sit amet Ad assumenda, beatae cvenptatem voluptatum?</h4>
          <div class="container__main__news__news-block__description__block">
            <h4 class="container__main__news__news-block__description__block__text">Kyiv Ukraine</h4>
            <img class="container__main__news__news-block__description__block__img"  src="../assets/radar.png" alt="...">
          </div>
        </div>
        <img class="container__main__news__news-block__image" src="../assets/storm.jpg" alt="...">
      </div>

      <div class="container__main__news__news-block">
        <div class="container__main__news__news-block__description">
          <h4 class="container__main__news__news-block__description__text">Lorem ipsum dolor sit amet Ad assumenda, beatae cvenptatem voluptatum?</h4>
          <div class="container__main__news__news-block__description__block">
            <h4 class="container__main__news__news-block__description__block__text">Kyiv Ukraine</h4>
            <img class="container__main__news__news-block__description__block__img"  src="../assets/radar.png" alt="...">
          </div>
        </div>
        <img class="container__main__news__news-block__image" src="../assets/storm.jpg" alt="...">
      </div>
    </div>
  </div>
</div>
